#on-deck-info-container1 {
	left: 32px;
	top: 397px;
}

#on-deck-info-container2 {
	left: 32px;
	top: 632px;
}

#on-deck-info-container3 {
	left: 32px;
	top: 865px;
}

#tech-info-container1 {
	left: 482px;
	top: 472px;
}

#tech-info-container2 {
	left: 482px;
	top: 707px;
}

#tech-info-container3 {
	left: 482px;
	top: 942px;
}
