#on-deck-info-container1 {
	left: 32px;
	top: 484px;
}

#on-deck-info-container2 {
	left: 32px;
	top: 717px;
}

#tech-info-container1 {
	left: 482px;
	top: 557px;
}

#tech-info-container2 {
	left: 482px;
	top: 792px;
}
